@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-roll {
    animation: roll 3s infinite linear;
}