@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

.details-enter {
    left: 100%;
}

.details-enter-active {
    left: 0;
    transition: left 500ms;
}

.details-exit {
    left: 0;
}

.details-exit-active {
    left: 100%;
    opacity: 0%;
    transition: left 500ms, opacity 300ms;
}

